@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

:root {
    --dark-purple: #37123C;
    --fire-opal: #EB5E55;
    --ruby: #D81E5B;
    --papaya-whip: #FDF0D5;
    --cadet: #56666B;
    --dark-red: #730217;
    --lighter-red: #8C0327;
    --nude: #A66F5B;
    --dark-black: #0D0D0D;
    --pinkish-red: #730237;
    --light-violet: #8B76C2;
    --font: sans-serif;

}

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--dark-purple);
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
}
header {
    text-align: center;
}
.card {
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
    perspective: 1000px;
    background-color: var(--dark-purple);
}
.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    background-color: var(--dark-purple);
}
.card__inner.is-flipped {
    transform: rotateY(180deg);
    background-color: var(--dark-purple);
}
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}
.card__face--front {
    background-image: linear-gradient(to bottom right, var(--dark-purple), var(--fire-opal));
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__face--front h3 {
    color: white;
    font-size: 32px;
}
.card__face--back {
    background-color: var(--papaya-whip);
    transform: rotateY(180deg);
}
.card__content {
    width: 100%;
    height: 100%;
}
.card__header {
    position: relative;
    padding: 30px 30px 40px;
}
.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 5% 5%;
    background-image: linear-gradient(to bottom left, var(--dark-purple) 10%, var(--fire-opal) 115%);
}
.pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid white;
    object-fit: cover;
}
.card__header h3 {
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card__header h4 {
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card__body {
    padding: 30px;
}
.card__body h3 {
    color: var(--dark-purple);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}
.card__body p {
    color: var(--dark-purple);
    font-size: 18px;
    line-height: 1.5;
}
/* trying to fix issue */
/* 
.card__header.is-flipped {
    height: 1%;
} */
.is-small {
    max-width: 35.5px;
}
.column {
    display: flex;
    flex-wrap: wrap;
}
form {
    text-align: center;
    height: 350px;
    width: 400px;
    padding: 15px;
    border: var(--papaya-whip) 2.5px solid;
    border-radius: 15px;
}
.title.is-3 {
    font-size: 30px;
    font-family: var(--font);
    color: var(--cadet);
}
header {
    padding-top: 20px;
    height: 100px;
}
.title.is-1 {
    color: var(--papaya-whip);
    font-family: var(--font);
}
.card__inner:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 25px 45px rgba(145, 92, 182, .4);
  }

  .ui-tooltip {
    white-space: pre-line;
}

/* commenting out grayscale for now */

/* #gameId, #mealId, #drinkId {
    filter: grayscale(100%);
}

input:hover {
    cursor: text;
}
